@page
@model RestaurantBooking_Razor.Pages.BookingPage.PendingBookingModel
@{
    Layout = "../Shared/AdminLayout.cshtml";
}

<style>
    .hiddenRow {
        padding: 0;
    }
</style>
@if (Model.MessageKey != null)
{
    <div class="alert alert-success">
        <strong>@Model.MessageKey</strong>
    </div>
}
@if (Model.WarningMessage != null)
{
    <div class="alert alert-warning">
        <strong>@Model.WarningMessage</strong>
    </div>
}
<h1 class="display-4">Pending Booking Page</h1>
<form method="post" enctype="multipart/form-data">

    <div class="text-center panel-body">
        <label style="display:inline-block">Search:</label>
        <input type="text" asp-for="searchtext" style="display:inline-block" placeholder="Booking ID" />

        <button type="submit" class="btn btn-sm btn-primary" style="display:inline-block">Search</button>
        <span asp-validation-for="searchtext" style="color:red;display:block"></span>
    </div>
</form>
@if (Model.bookingPendingList.Data.Count != 0)
{
    <table class="table-borderless table-responsive">


        <tr>
            <th>Booking ID</th>
            <th>Restaurant Name</th>
            <th>User</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Approve</th>
            <th>Cancel</th>

        </tr>

        @for (int i = 0; i < Model.bookingPendingList.Data.Count; i++)
        {

            <tr data-toggle="collapse" data-target="#@i" class="accordion-toggle" style="border-top:solid">
                <td height="50" width="125">@Html.DisplayFor(model => model.bookingPendingList.Data[i].bookingId)</td>
                <td height="50" width="125">@Html.DisplayFor(model => model.bookingPendingList.Data[i].resName)</td>
                <td height="50" width="100">@Html.DisplayFor(model => model.bookingPendingList.Data[i].username)</td>
                <td height="50" width="175">@Html.DisplayFor(model => model.bookingPendingList.Data[i].startDate)</td>
                <td height="50" width="175">@Html.DisplayFor(model => model.bookingPendingList.Data[i].endDate)</td>
                <td height="50" width="80">@Html.DisplayFor(model => model.bookingPendingList.Data[i].status)</td>
                <td height="50" width="100"><input type="button" class="btn btn-primary" value="Approve" id="@Model.bookingPendingList.Data[i].bookingId" onclick="ClickApprove(this.id)" /></td>
                <td height="50" width="100"><input type="button" class="btn btn-primary" value="Cancel" id="@Model.bookingPendingList.Data[i].bookingId" onclick="ClickCancel(this.id)" /></td>
                @*<td><input type="button" class="btn btn-primary" value="Delete" onclick="if (confirm('Are you sure want delete this product')) window.location.href = '/ProductPage/DeleteProduct?id=@Model.productList.products[i].ProductId';"></td>*@

            </tr>
            <tr>
                <td colspan="6" width="100%" class="hiddenRow">
                    <div class="accordian-body collapse" id="@i" style="word-break: break-all">
                        Table No: @Html.DisplayFor(model => model.bookingPendingList.Data[i].tableNo) <br />Request: @Html.DisplayFor(model => model.bookingPendingList.Data[i].request)
                    </div>
                </td>
                <td>
                </td>
                <td></td>
            </tr>


        }
    </table>
    <ul class="pagination">
        @for (int i = 1; i <= Model.bookingPendingList.TotalPages; i++)
        {

            if (Model.bookingPendingList.PageNumber == i)
            {
                <li class="active"><a asp-page="AdminControl" asp-route-GetPageNumber="@i">@i</a></li>

            }
            else
            {
                <li><a asp-page="AdminControl" asp-route-GetPageNumber="@i">@i</a></li>
            }

        }
    </ul>
}
else if (Model.PageNumberWarning != null)
{
    <label class="text-center" style="font-size:100%;color:blue;">@Model.PageNumberWarning</label>
}
else
{
    <label class="text-center" style="font-size:200%;color:blue;">No Pending Booking yet</label>
}
<script type="text/javascript">
    function ClickApprove(id) {
        var ask = window.confirm("Approve this booking?");
        if (ask) {
            //window.alert("This Booking has been approved.");
            var getPageNumber = '@Request.Query["GetPageNumber"]';
            if (getPageNumber != "") {
                window.location.href = "/BookingPage/SetConfirmBooking?id=" + id + "&GetPageNumber=" + getPageNumber;
            } else {
                window.location.href = "/BookingPage/SetConfirmBooking?id=" + id;
            }
        }
    }

    function ClickCancel(id) {
        var ask = window.confirm("Cancel this booking?");
        if (ask) {
            //window.alert("This Booking has been approved.");
            var getPageNumber = '@Request.Query["GetPageNumber"]';
            if (getPageNumber != "") {
                window.location.href = "/BookingPage/CancelBooking?id=" + id + "&GetPageNumber=" + getPageNumber;
            }
            else {
                window.location.href = "/BookingPage/CancelBooking?id=" + id;
            }

            //window.location.href = "/BookingPage/SetConfirmDate?id=" + id+"&;

        }
    }
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<script>
    $('.accordian-body').on('bs.collapse', function () {
        $(this).closest("table")
            .find(".collapse.in")
            .not(this)
            .collapse('toggle')
    })
</script>
