@page
@model RestaurantBooking_Razor.Pages.AnnouncePage.AnnouncementHomeModel
@{
    Layout = "../Shared/AdminLayout.cshtml";
}

<style>
    .hiddenRow {
        padding: 0 !important;
    }
</style>
<div class="text-center">
    @if (Model.MessageKey != null)
    {
        <div class="alert alert-success">
            <strong>@Model.MessageKey</strong>
        </div>


    }
    <h1 class="display-4">Admin Page</h1>
    <div class="text-left" style="margin-left:80px">
        <button type="submit" class="btn btn-warning" onclick="window.location.href ='/AnnouncePage/PostAnnouncement';">Create New Announcement</button>
    </div>
    @{
        if (Model.AnnouncementList.Data.Count != 0)
        {
            <table class="table-responsive" width="100%" style="table-layout:fixed">
                <tr>

                    <th style="text-align:center" width="3%">Title</th>
                    <th style="text-align:center" width="3%">Author</th>
                    <th style="text-align:center" width="3%">Post Date</th>


                </tr>

                @for (int i = 0; i < Model.AnnouncementList.Data.Count; i++)
                {
                    <tr data-toggle="collapse" data-target="#@i" class="accordion-toggle" style="border-top:solid">

                        <td height="50">@Html.DisplayFor(model => model.AnnouncementList.Data[i].Title)</td>
                        <td height="50">@Html.DisplayFor(model => model.AnnouncementList.Data[i].Username)</td>
                        <td height="50">@Html.DisplayFor(model => model.AnnouncementList.Data[i].Date)</td>
                       

                        @*<td><input type="button" class="btn btn-primary" value="Delete" onclick="if (confirm('Are you sure want delete this product')) window.location.href = '/ProductPage/DeleteProduct?id=@Model.productList.products[i].ProductId';"></td>*@
                    </tr>
                    <tr>
                        <td colspan="2" width="100%" class="hiddenRow">
                            <div class="accordian-body collapse" id="@i" style="word-break: break-all; text-align: left; margin-left: 30px;">
                                Description: @Html.DisplayFor(model => model.AnnouncementList.Data[i].Description)
                            </div>
                        </td>
                    </tr>

                }
            </table>
            <ul class="pagination">
                @for (int i = 1; i <= Model.AnnouncementList.TotalPages; i++)
                {

                    if (Model.AnnouncementList.PageNumber == i)
                    {
                        <li class="active"><a asp-page="AnnouncementHome" asp-route-GetPageNumber="@i">@i</a></li>

                    }
                    else
                    {
                        <li><a asp-page="AnnouncementHome" asp-route-GetPageNumber="@i">@i</a></li>
                    }

                }
            </ul>


        }
        else if (Model.PageNumberWarning != null)
        {
            <label class="text-center" style="font-size:100%;color:blue;">@Model.PageNumberWarning</label>
        }
        else
        {
            <label class="text-center" style="font-size:200%;color:blue;"></label>
        }
    }
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</div>

<script>
    $('.accordian-body').on('bs.collapse', function () {
        $(this).closest("table")
            .find(".collapse.in")
            .not(this)
            .collapse('toggle')
    })
</script>
